/* Set font family and size for body text */
body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     line-height: 1.5;
   }
   
   /* Set paragraph width to 90% and limit to a maximum width of 800px */
   p {
     width: 98%;
     font-size: 16px ;
    
     margin: 0 auto;
   }
   
   /* Set different font size and line height for screens smaller than 600px */
   @media only screen and (max-width: 600px) {
     p {
       font-size: 10px;
       line-height: 1.3;
     }
   }

.bg-color{
     background-color: #E5D1FA;
     background-size: cover;                      
     background-repeat: no-repeat;
     background-position: center center; 
     padding-left: 20px;
     padding-right: 20px;
}
.custom_color{
     background-color: #E3DFFD;
     padding: 5px;
     margin: 5px;
     border-radius: 15px;
}
.custom_color-subheading{
     background-color: #C9EEFF;
     padding: 5px;
     margin: 5px;
     border-radius: 10px;
}


.text-style-1{
     color:#c65032;
     text-shadow: 2px 2px;
     font-family: 'Alkatra', cursive;
     font-weight: 700;

}
.text-style-2{
     color:#c65032;
     font-family: 'Poppins', sans-serif;
     font-weight: 700;

}
.text-style-2:hover {
     color: black;
     border: 1px solid#c65032;
     background: rgb(171, 194, 228);
     text-decoration: underline;
     font-family: 'Poppins', sans-serif;
     font-weight: 700;
     border-radius: 10px;

}

.text-style-3{
     color: #6d5dc9;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;

}
.text-style-4{
     color: #8b1c4b;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;

}
.text-style-4-header{
     color: #070f58;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;

}


.home-image{
     background-size: 100%;
     background-position: center;
}
.single-logo-item {
     width: 4rem;
     height: 5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     border: 0.0625rem solid var(--bg-gray);
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
     -webkit-transition: all .4s ease 0s;
     -moz-transition: all .4s ease 0s;
     -o-transition: all .4s ease 0s;
     transition: all .4s ease 0s;
 }
 
.single-logo-item:hover {
     border: 0.0625rem solid transparent;
     box-shadow: 0 0.5rem 1.875rem rgb(118 85 225 / 15%);
 }
 
 .carousel-image{
     width: 95%;
     height: 21.875rem;
     
 }
 /* CSS for project page  */
     /* Container Background */
     .project-bg{
          background-color: #ECF2FF;
          background-size: cover;                      
          background-repeat: no-repeat;
          background-position: center center; 
          border-radius: 2rem; 
     }
     .project-heading-1{ 
          color: #460C68;
          font-family: 'Alkatra', cursive;
          font-weight: 700;
     }
     .project-heading-2{
          color: #7F167F;
          font-family: 'Alkatra', cursive;
          font-weight: 700;
     }
     .project-heading-3{
          color: #CB1C8D;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
     }
     .project-para-style{
          color: #F56EB3;
          font-family: 'Roboto', sans-serif;
          font-size: .85rem;
          font-weight: 700;
     }

     /* span style 1 */
    .span-style-1{
     font-size: .85em;

    }
     .span-style-2{
          font-size: .8em
    }
     /* span style 2 */
    .bg-card{
     background-color:#917FB3;
     border-radius: 2rem;
     box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
     
    }
    .list-text{
     color: #7F167F;
     font-family: 'Alkatra', cursive;
     font-weight: 700;
    }

    .list-text-1:hover{
     color: #460C68;
     background-color: #917FB3;

    }
    /* Button styling starts */
     .gradient-btn {
     background-image: linear-gradient(to right, #ff8a00, #da1b60);
     transition: background 0.5s ease-out;
     font-size: 1.25rem;
     }

     .gradient-btn:hover {
     background-image: linear-gradient(to right, #da1b60, #ff8a00);
     font-size: 1.25rem;
     }

     .shadow-btn {
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
     transition: box-shadow 0.3s ease-out;
     border-radius: 5px;
     }

     .shadow-btn:hover {
     box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
     }

    /* Button styling ends */
    .bg-para{
     border-radius: 2rem;
     box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
     border: 1px solid #E5D1FA;
    }



    @media (max-width: 361px) {
     .container {
       padding-left: 0;
       padding-right: 0;
       max-width: none;
       width: 100%;
     }
   }


/* Table starts */
table {
     width: 100%;
     border-collapse: collapse;
   }
   
   th, td {
     padding: 0.5rem;
     text-align: center;
     word-wrap: break-word;
     overflow-wrap: break-word;
     font-size: 1rem; /* default font size */
   }
   
   @media only screen and (max-width: 767px) {
     th, td {
       font-size: 0.8rem; /* smaller font size for smaller devices */
     }
     
     th {
       text-align: left;
     }
   }

/* Table Ends */

/* Default font sizes */
h1 {
     font-size: 2.5rem;
   }
   
   h2 {
     font-size: 2rem;
   }
   
   h3 {
     font-size: 1.5rem;
   }
   
   p {
     font-size: 1rem;
   }
    /* Media queries for larger devices */
    @media only screen and (min-width: 1200px) {
     h1 {
       font-size: 3rem;
     }
     
     h2 {
       font-size: 2.5rem;
     }
     
     h3 {
       font-size: 2rem;
     }
     
     p {
       font-size: 1rem;
     }
   }
   /* Media queries for smaller devices */
   @media only screen and (max-width: 767px) {
     h1 {
       font-size: 2rem;
     }
     
     h2 {
       font-size: 1.8rem;
     }
     
     h3 {
       font-size: 1.3rem;
     }
     
     p {
       font-size: 0.8rem;
     }
   }
   /* Media queries for even smaller devices */
@media only screen and (max-width: 540px) {
     h1 {
       font-size: 1.8rem;
     }
     
     h2 {
       font-size: 1.5rem;
     }
     
     h3 {
       font-size: 1.2rem;
     }
     
     p {
       font-size: 0.8rem;
     }
   }
   
   /* Media queries for smallest devices */
   @media only screen and (max-width: 299px) {
     h1 {
       font-size: 1.5rem;
     }
     
     h2 {
       font-size: 1.2rem;
     }
     
     h3 {
       font-size: 1rem;
     }
     
     p {
       font-size: 0.7rem;
     }
   }
  /* Default font size for list items */
li {
     font-size: 1rem;
   }
   
   /* Media queries for smaller devices */
   @media only screen and (max-width: 767px) {
     li {
       font-size: 0.9rem;
     }
   }
   
   /* Media queries for even smaller devices */
   @media only screen and (max-width: 399px) {
     li {
       font-size: 0.8rem;
     }
   }
   
   /* Media queries for smallest devices */
   @media only screen and (max-width: 299px) {
     li {
       font-size: 0.7rem;
     }
   }